@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

:root {
    --Vivid-orange: #F16718;
    --Light-orange: #FF9B62;
    --Very-dark-blue: #162542;
    --Mostly-desaturated-dark-blue: #7B8BAD;
    --Light-grayish-blue: #E8EFF2;
    --White: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    max-width: 100vw;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 23px 24.5px 64px 24px;
}

.logo {
    padding-top: 4px;
    padding-bottom: 4px;
}

.header-btn {
    width: 150px;
    height: 48px;
    background-color: var(--Light-grayish-blue);
    color: var(--Very-dark-blue);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
}

main {
    display: flex;
    flex-direction: column;
}

.section-typemaster {
    padding: 0 24px;
}

.div-typemaster {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.typemaster-heading {
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: var(--Very-dark-blue);
}

.typemaster-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.typemaster-buttons {
    display: flex;
    justify-content: space-between;
}

.full-btn {
    background-color: var(--Vivid-orange);
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--White);
    border-radius: 8px;
    border: none;
    height: 48px;
    width: 150px;
}

.empty-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: var(--Mostly-desaturated-dark-blue);
    border: none;
    background-color: transparent;
}

.keyboard-img-mobile {
    margin-top: 64px;
    width: 372px;
    border-radius: 20px;
}

.keyboard-img-tablet {
    display: none;
}

.keyboard-img-desktop {
    display: none;
}

.section-wireless {
    margin-bottom: 111px;
}

.div-images {
    display: flex;
    flex-direction: row;
    padding: 23px 0 75px 0;
}

.phone-and-keyboard-img-mobile {
    width: 129px;
    height: 193px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: var(--Vivid-orange);
    transform: translate(-24px);
}

.glass-and-keyboard-img-mobile {
    width: 220px;
    height: 193px;
    border-radius: 20px;
}

.phone-and-keyboard-img-tablet {
    display: none;
}

.glass-and-keyboard-img-tablet {
    display: none;
}

.phone-and-keyboard-img-desktop {
    display: none;
}

.glass-and-keyboard-img-desktop {
    display: none;
}

.div-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.wireless-heading {
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: var(--Very-dark-blue);
    padding: 0 60px;
}

.wireless-description {
    padding: 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--Mostly-desaturated-dark-blue);
}

.section-card {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    background-color: var(--Vivid-orange);
    width: 65px;
    height: 65px;
    border-radius: 16px;
}

.compotible, .bluetooth, .battery, .light {
    padding: 20px;
}

.card-text {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 48px;
}

.card-heading {
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: var(--Very-dark-blue);
}

.card-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--Mostly-desaturated-dark-blue);
}

.footer {
    padding: 96px 52px 50px 51px;
}

.footer-ph {
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: var(--Mostly-desaturated-dark-blue);
}

@media (min-width: 768px) {
    .header {
        padding: 40px 40px 122px 39px;
    }

    .logo {
        padding-top: 9px;
        padding-bottom: 9px;
    }

    .header-btn {
        width: 175px;
        height: 58px;
    }

    .section-typemaster {
        padding: 0 0 0 39px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 69px;
        width: 100%;
    }

    .div-typemaster {
        gap: 36.5px;
        width: 50%;
        height: fit-content;
    }

    .full-btn {
        width: 175px;
        height: 58px;
    }
    .keyboard-img-mobile{
        display: none;
    }

    .keyboard-img-tablet {
        display: flex;
        border-radius: 20px;
        width: 478px;
        transform: translate(42px, -60px);
    }

    .keyboard-img-desktop {
        display: none;
    }

    .section-wireless {
        margin-bottom: 142px;
    }

    .div-images {
        /* display flex gaceram da img amosvlam divtypemaster zomashi daapatarava */
        display: flex;
        flex-direction: row;
        padding: 0 40px 72px 39px;
        gap: 30px;
    }

    .phone-and-keyboard-img-mobile {
        display: none;
    }

    .glass-and-keyboard-img-mobile {
        display: none;
    }

    .phone-and-keyboard-img-tablet {
        display: flex;
        width: 214px;
        height: 320px;
        border-radius: 20px;
    }

    .glass-and-keyboard-img-tablet {
        display: flex;
        width: 445px;
        height: 320px;
        border-radius: 20px;
    }

    .phone-and-keyboard-img-desktop {
        display: none;
    }

    .glass-and-keyboard-img-desktop {
        display: none;
    }

    .div-text {
        flex-direction: row;
        gap: 100px;
        padding: 0 40px 0 39px;
    }

    .wireless-heading {
        text-align: justify;
        padding: 0;
    }
    
    .wireless-description {
        text-align: justify;
        padding: 7.5px 0;
    }

    .section-card {
        padding: 0 0 0 39px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 69px;
    }

    .card-container {
        align-items: baseline;
        width: 281px;
        height: 289px;
    }

    .card-text {
        margin-top: 40px;
    }

    .card-heading {
        text-align: left;
    }

    .card-description {
        text-align: left;
    }

    .footer {
        padding: 142px 249px 43px 247px;
    }
}

@media (min-width: 1440px) {
    body {
        background-image: url(./assets/shared/Rectangle1.png);
        background-repeat: no-repeat;
        background-position: right top 12%;
    }
    .header {
        padding: 55px 165px 143px 165px;
    }

    .section-typemaster {
        padding: 0 165px;
        gap: 125px;
        
    }

    .div-typemaster {
        gap: 33px;
    }

    .typemaster-heading {
        font-size: 56px;
        line-height: 56px;
    }
    
    .typemaster-description {
        font-size: 18px;
    }
    
    .empty-btn {
        margin-right: 90px;
    }

    .keyboard-img-mobile {
        display: none;
    }

    .keyboard-img-tablet {
        display: none;
    }

    .keyboard-img-desktop {
        display: flex;
        border-radius: 20px;
        width: 540px;
        transform: translate(0, -60px);
    }

    .section-wireless {
        margin-bottom: 168px;
        padding: 0;
        display: flex;
        background-image: url(./assets/shared/Rectangle.png);
        background-repeat: no-repeat;
        background-position: left bottom;
    }

    .div-images {
        display: flex;
        flex-direction: row;
        padding: 0 0 0 165px;
    }

    .phone-and-keyboard-img-mobile {
        display: none;
    }

    .glass-and-keyboard-img-mobile {
        display: none;
    }

    .phone-and-keyboard-img-tablet {
        display: none;
    }

    .glass-and-keyboard-img-tablet {
        display: none;
    }

    .phone-and-keyboard-img-desktop {
        display: flex;
        width: 255px;
        height: 480px;
        border-radius: 20px;
    }

    .glass-and-keyboard-img-desktop {
        display: flex;
        width: 445px;
        height: 480px;
        border-radius: 20px;
    }

    .div-text {
        flex-direction: column;
        gap: 27px;
        padding: 85.5px 165px 85.5px 119px;
    }

    .section-card {
        padding: 0 0 0 165px;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
    }

    .card-container {
        width: 255px;
    }

    .card-text {
        margin-top: 48px;
    }

    .footer {
        text-align: center;
    }
}